.inverse {
  color: #AA1C7D;
  background: #70ACC0;
}

h3, h2, h1 {
  color:#70ACC0;
  border-bottom: 1px solid #AA1C7D ;
  font-weight: 150;
}

.title-slide {
  background-image: url(title_slide.png);
  background-size: cover;
}

.title-slide h1, .title-slide h2, .title-slide h3 {
  border-style: none;
  text-align: left;
  text-shadow: none;
  font-weight: 300;
}

.title-slide h1 {
  color: #AA1C7D;
  font-weight: bold;
}


.title-slide h1, .title-slide h2 {
  text-transform:uppercase;
}

.title-slide .remark-slide-number {
    display: none;
}

.footnote {
  color:grey;
  font-size:70%;
}

.empty-slide h1, .empty-slide h2, .empty-slide h3 {
  display:none;
}

.mywhite {
  background-color: #fff;
  background-size: contain;
}

.myinverse {
  background-color: #000000;
  background-size: contain;
}

.mysmall {
  font-size:75%;
}

.myfootnote {
  font-size:80%;
  position: absolute;
  width: 80%;
  bottom: 0px;
}

.invminifootnote {
  font-size:80%;
  position: absolute;
  width: 80%;
  bottom: 0px;
  right: 20px;
  color: grey;
}


.mycenter {
position: absolute;
margin:auto;
width:80%;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
text-align: center;
font-size: 200%;
font-weight:200;
}

.transpblock{
background-color: #FFFFFF88;
padding-bottom:2px;
padding-top:2px;
padding-left:10px;
padding-right:10px;
margin-top:5px;
}

.mytop {
position: absolute;
margin:auto;
width:80%;
top: 20%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
text-align: center;
font-size: 150%;
font-weight:200;
}
